/* Base button style */
.grid-item {
  position: relative;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.grid-item::before {
  content: "";
  display: block;
  padding-top: 66.67%;
}

 .card-outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  padding: 3%;
  color: #222222
  }

    /* Status styles */
    .outer-revealed-red {
      background-color: #f12424; /* Light pink for red */
    }
    
    .outer-revealed-blue {
      background-color: #0d20ef; /* Light blue for blue */
    }
    
    .outer-revealed-black {
      background-color: #222222; /* Dark color for black */
    }
  
    .outer-revealed-neutral {
      background-color: #ecc734; /* Neutral color */
    }
    
    .outer-not_revealed-for_spymaster-red {
      background-color: #f12424; /* Light pink for red */
    }
    
    .outer-not_revealed-for_spymaster-blue {
      background-color: #0d20ef; /* Light blue for blue */
    }
    
    .outer-not_revealed-for_spymaster-black {
      background-color: #222222; /* Dark color for black */
    }
    
    .outer-not_revealed-for_spymaster-neutral {
      background-color: #e0c34e; /* Neutral color */
    }
  
    .outer-not_revealed {
      background-color: #f0f0f0; /* Light grey for not revealed */
    }

    .text {
      display: block;
      font-size: clamp(1rem, 2vw, 4rem);
      max-width: 100%;
      white-space: nowrap;
    }

  .card-inner {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  /* Status styles */
  .revealed-red {
    background-color: #f12424; /* Light pink for red */
    color: #FFF;
  }
  
  .revealed-blue {
    background-color: #0d20ef; /* Light blue for blue */
    color: #FFF;
  }
  
  .revealed-black {
    background-color: #222222; /* Dark color for black */
    color: #FFF;
  }

  .revealed-neutral {
    background-color: #ecc734; /* Neutral color */
  }
  
  .not_revealed-for_spymaster-red {
    background-color: #FFC0CB; /* Light pink for red */
  }
  
  .not_revealed-for_spymaster-blue {
    background-color: #ADD8E6; /* Light blue for blue */
  }
  
  .not_revealed-for_spymaster-black {
    background-color: #555555;
    color: #FFF /* Dark color for black */
  }
  
  .not_revealed-for_spymaster-neutral {
    background-color: #ede6cb; /* Neutral color */
  }

  .not_revealed {
    background-color: #f0f0f0; /* Light grey for not revealed */
  }

  