.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for the container holding both the grid and the toggle switch */
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between the grid and the toggle switch */
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
  grid-auto-rows: 1fr;    /* 5 equal rows */
  gap: 5px; 
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

@media (min-width: 600px) {
  .app-container {
    flex-direction: row;
  }

  .grid-container {
    flex-grow: 1;
    flex-basis: 0;
  }

  .toggle-container {
    width: min-content;
    flex-shrink: 0;
  }
}


.toggle-label {
  margin-right: 10px; /* Space between label and switch */
  font-size: 1.2rem; /* Adjust the font size if needed */
}

.toggle-switch {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background-color: #c6c6c6;
  outline: none;
  border-radius: 15px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.toggle-switch:checked {
  background-color: #4caf50;
}

.toggle-switch:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.2s;
}

.toggle-switch:checked:before {
  transform: translateX(20px);
}

.btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}